<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>contats page</h2>
    <form method="post">
        {% csrf_token %}
        <label>enter your name: </label>
        <input type="text" name = 'fname'>
        <label>enter your last name: </label>
        <input type="text" name = 'lname'>
        <input type="submit" value="submit">
    </form>



</body>
</html>